<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Meikkipussi </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
        	integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
        	<link href="https://fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
  <body>
  	<div id="logging">
        <div th:if="${param.error}">
            <p>Invalid username and password.</p>
        	</div>
        <div th:if="${param.logout}">
            <p>You have been logged out.</p>
       		</div>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
            	<label for="exampleInputEmail1"> Käyttäjätunnus<input type="text" class="form-control" name="username" /> </label>
            </div>
            <div class="form-group">
            	<label> Salasana<input type="password" class="form-control" name="password"/> </label>
            </div>
            <input class="btn btn-success" type="submit" value="Kirjaudu sisään"></input>
        	</form>
    	</body>
    </div> 
</html>